body{
    background-color: darkgrey;
    text-align: left;


    /*padding: 40px;*/
margin: 35px;
}
p{
    color: black;
}
.one{
    color: blue;
    font-size: 20px;
}
.two{
    border: red solid 1px;
    border-radius: 2px;


    color: darkblue;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
border: red solid ipx;
    border-radius: 25px;
}

.four {
    border-radius: 15px;
    width: 100%;
}

.five{
    border-radius:  15px;
    width 100%
}